@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled {
    opacity: .8;
    cursor: not-allowed;
}
.auth-wrapper {
    animation: smoothAppear 300ms ease-in-out forwards;
}
.sidebar-custom-box-shadow{
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
}

@keyframes smoothAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}